$backgroud-form-btn: #00a224;
$hover-color: #cdffd8;
$backgroud-form-color: #06611a;
$main-color: rgba(184, 184, 184, 1);

.RepeatPasswordModal__wrap {
    position: absolute;
    top: 40%;
    transform: translateX(-50%);
    width: 400px;
    height: 200px;
    left: 50%;
    padding: 10px 20px 20px 20px;
    border-radius: 30px;
    background: $main-color;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    div {
        width: 90%;
        margin: 5px auto;
        display: flex;
        justify-content: right;
        #repeat__btn__x {
            background-image: url("../../assets/repeat__password/x.png");
            background-size: 40px 23px;
            background-position: center;
            background-color: inherit;
            border: 0;
            cursor: pointer;
            height: 20px;
            width: 20px;
        }
    }
    input {
        display: flex;
        width: 270px;
        height: 50px;
        padding: 20px 30px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        border-radius: 40px;
        border: 1px solid $hover-color;
        outline: none;
        margin: 10px auto 15px;
        text-align: center;
    }
    #repeat__btn__agree {
        display: flex;
        width: 270px;
        height: 50px;
        padding: 14px 80px;
        align-items: center;
        gap: 8px;
        border-radius: 40px;
        background: $backgroud-form-btn;
        cursor: pointer;
        border: 0;
        margin: 12px auto;
        color: $hover-color;
        text-align: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        outline: none;
    }
    #repeat__btn__agree:hover {
        background: $hover-color;
        color: $backgroud-form-btn;
    }
    #repeat__btn__agree:active {
        background: $backgroud-form-btn;
        color: $backgroud-form-color;
    }
}
