$background-color: #cdffd8;
$font-color: #00a224;
$hover-color: #06611a;
$price-color: #001004;

.category_page_wrap {
  width: 70%;
  margin-top: 30px;
  padding-bottom: 60px;
  div {
    display: flex;
    flex-wrap: wrap;
  }
  label {
    color: $font-color;
    font-family: Montserrat Bolt;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    width: 100%;
    text-align: left;
  }
  div {
    display: flex;
    ul {
      display: flex;
      height: max-content;
      width: 11vw;
      height: 25vw;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      padding: 0;
      margin: 30px 0 0 0;
      li {
        list-style: none;
        height: 100%;
        display: flex;
        align-items: stretch;
        img {
          width: 150px;
          height: 160px;
          background-color: inherit;
          object-fit: cover;
          border-radius: 20px;
        }
      }
      button {
        display: flex;
        position: relative;
        bottom: 0;
        width: 100%;
        height: 50px;
        padding: 19px 26px 19px 27px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 40px;
        border: 0;
        cursor: pointer;
        background: $font-color;
        color: $background-color;
        text-align: center;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        transition: 0.3s;
      }

      button:hover {
        color: $hover-color;
      }

      button:active {
        color: $background-color;
        background: $hover-color;
      }
    }
  }
}

.category_page_prices {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#category_page_span1 {
  color: $hover-color;
  font-family: Montserrat Bolt;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

#category_page_span2 {
  color: $price-color;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.category_page_img {
  width: 150px;
  height: 160px;
  background-color: inherit;
  object-fit: cover;
  border-radius: 20px;
}

#category_page_view {
  margin: 30px 32px 0 0;
}

.category_page_empty {
  display: flex;
  justify-content: center;
}

.category_page_empty > label {
  display: flex;
  justify-content: center;
  width: 536px;
}

.category_page_empty > div {
  width: 536px;
  height: 318px;
  flex-shrink: 0;
  background-image: url("../../assets/personal__area/msg.png");
  background-repeat: no-repeat;
}

.category_page_wrap {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.category_page_wrap.visible {
  opacity: 1;
}

.category_page_wrap {
  opacity: 0;
  animation: fadeInOut 0.5s ease-in-out forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

