$backgroud-form-color: #06611a;
$backgroud-form-btn: #00a224;
$hover-color: #cdffd8;
$visited-color: #b4b4b4;
$disable-background: rgb(114, 114, 114);
$disable-color: rgb(32, 28, 28);

.login__form__wrap {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-shrink: 0;
    background: $hover-color;
    justify-content: center;
    form {
        position: relative;
        display: block;
        align-items: center;
        text-align: center;
        width: 28em;
        height: auto;
        padding: 2vw 0 3vw 0;
        flex-shrink: 0;
        border-radius: 40px;
        background: $backgroud-form-color;
        max-height: 99vh;
        span {
            color: $backgroud-form-btn;
            text-align: center;
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
        }
        .login__btn__wrap {
            display: flex;
            width: 70%;
            justify-content: space-between;
            margin: 0 auto;
            button {
                display: flex;
                width: 48%;
                height: 45px;
                padding: 19px 26px 19px 26px;
                justify-content: center;
                align-items: center;
                border-radius: 40px;
                background: $backgroud-form-btn;
                border: 0;
                margin: 12px 0 15px;
                color: $hover-color;
                text-align: center;
                font-family: Montserrat;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
                cursor: pointer;
            }
        }

        .login__btn__wrap button:hover {
            background: $visited-color;
            color: $backgroud-form-color;
        }

        .login__btn__wrap button:active {
            background: $hover-color;
            color: $backgroud-form-btn;
        }

        .login__btn__wrap button:visited {
            background: $backgroud-form-btn;
            color: $backgroud-form-color;
        }

        input:-webkit-autofill,
        input {
            display: flex;
            width: 100%;
            height: 40px;
            padding: 0 5%;
            margin: 0 auto 0;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            border-radius: 40px;
            border: 1px solid $hover-color;
            background-color: $backgroud-form-color;
            color: $hover-color;
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            -webkit-box-shadow: 0 0 0 30px $backgroud-form-color inset !important;
            transition: background-color 5000s ease-in-out 0s;
            &:focus {
                outline: none;
            }
        }
    }
}

.login__btn__google,
.login__btn__inst,
.login__btn__facebook {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 45px;
    margin: 0px auto 15px;
    padding: 0 40px;
    align-items: center;
    gap: 8px;
    border-radius: 40px;
    border: 0;
    background: $backgroud-form-btn;
    color: $hover-color;
    font-family: Montserrat;
    font-size: 15px;
    white-space: nowrap;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    cursor: pointer;
}

.login__submit:hover,
.login__btn__google:hover,
.login__btn__inst:hover,
.login__btn__facebook:hover {
    background: $hover-color;
    color: $backgroud-form-btn;
}

.login__submit:active,
.login__btn__google:active,
.login__btn__inst:active,
.login__btn__facebook:active {
    color: $backgroud-form-color;
    background: $backgroud-form-btn;
}

.login__submit:visited,
.login__btn__google:visited,
.login__btn__inst:visited,
.login__btn__facebook:visited {
    color: $backgroud-form-color;
    background: $visited-color;
}

.login__google,
.login__inst,
.login__facebook {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    background: $hover-color;
}

.login__btn__back {
    position: relative;
    left: -40%;
    margin: 0 24px 0;
    border: 0;
    background-image: url(../../assets/login__page/btn-left.png);
    background-size: contain;
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    background-color: inherit;
    cursor: pointer;
}

.login__btn__back:hover {
    background-image: url(../../assets/login__page/left-hover.png);
}

.login__btn__back:active {
    background-image: url(../../assets/login__page/left-active.png);
}

.login__submit {
    display: flex;
    width: 70%;
    height: 45px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 8px;
    border-radius: 40px;
    border: 0;
    background: $backgroud-form-btn;
    color: $hover-color;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    cursor: pointer;
}

.login__sumbmit__disabled {
    display: flex;
    width: 70%;
    height: 45px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 8px;
    border-radius: 40px;
    border: 0;
    background: $disable-background;
    color: $disable-color;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    cursor: pointer;
}

.login__forgot__pasword {
    color: $backgroud-form-btn;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin: 0 0 15px 0;
    border: 0;
    background-color: inherit;
    position: relative;
    left: -21%;
    cursor: pointer;
}

.login__forgot__pasword:hover {
    color: $hover-color;
}

.login__forgot__pasword:active {
    filter: blur(0.6px);
    -webkit-filter: blur(0.6px);
}

.login__checkbox {
    display: flex;
    align-items: center;
    text-align: left;
    width: 70%;
    margin: 12px auto 12px;
    color: $backgroud-form-btn;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    #checkbox {
        width: 26px;
        height: 26px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 2px solid $backgroud-form-btn;
        display: flex;
        height: 39px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        margin: 0 16px 0 0;
    }
}

.form-check-input:checked {
    border-radius: 8px !important;
    border: 2px solid $backgroud-form-btn !important;
    background-color: $backgroud-form-color !important;
    width: 36px;
    height: 36px;
    margin-right: 16px !important;
    flex-shrink: 0;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
    -o-border-radius: 8px !important;
}

.form-check-input {
    border-radius: 8px !important;
    border: 2px solid $backgroud-form-btn !important;
    background-color: $backgroud-form-color !important;
    background-size: 25px 25px;
    width: 25px !important;
    height: 25px !important;
    margin-right: 16px !important;
    flex-shrink: 0;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
    -o-border-radius: 8px !important;
    &:hover {
        border-color: $hover-color !important;
        width: 25px !important;
        height: 25px !important;
        border: 0;
    }
    &:active {
        background-image: url(../../assets/login__page/check-half.png) !important;
    }
    &:checked {
        background-image: url(../../assets/login__page/check.png) !important;
    }
    &:focus {
        box-shadow: none !important;
    }
    transition: background-image 0.4s ease;
    -webkit-transition: background-image 0.4s ease;
    -moz-transition: background-image 0.4s ease;
    -ms-transition: background-image 0.4s ease;
    -o-transition: background-image 0.4s ease;
}

.form-label {
    margin-bottom: 0 !important;
    display: flex;
    width: 320px;
    height: 39px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: $backgroud-form-btn;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.login__wrap__email,
.login__wrap__password {
    width: 70%;
    margin: 0 auto 15px;
    position: relative;
}

.login__eye__close {
    position: absolute;
    background-image: url(../../assets/login__page/close-eye.png);
    background-size: 20px 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 2em;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border: 0;
    background-color: inherit;
}

.login__eye__open {
    position: absolute;
    background-image: url(../../assets/login__page/open-eye.png);
    background-size: 20px 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 2em;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border: 0;
    background-color: inherit;
}

.login__google {
    background-image: url(../../assets/login__page/IconsGmail.png);
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    display: flex;
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-color: inherit;
    align-items: center;
    justify-content: center;
}

.login__btn__google:hover {
    .login__google {
        background-image: url(../../assets/login__page/GmailHover.png);
    }
}

.login__btn__google:active {
    .login__google {
        background-image: url(../../assets/login__page/IconsGmail.png);
    }
}

.login__inst {
    background-image: url(../../assets/login__page/IconsInst.png);
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    display: flex;
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-color: inherit;
    align-items: center;
    justify-content: center;
}

.login__btn__inst:hover {
    .login__inst {
        background-image: url(../../assets/login__page/InstOnhover.png);
    }
}

.login__btn__inst:active {
    .login__inst {
        background-image: url(../../assets/login__page/IconsInst.png);
    }
}

.login__facebook {
    background-image: url(../../assets/login__page/IconsFB.png);
    width: 18px;
    height: 24px;
    flex-shrink: 0;
    display: flex;
    background-size: 18px 24px;
    background-repeat: no-repeat;
    background-color: inherit;
    align-items: center;
    justify-content: center;
}

.login__btn__facebook:hover {
    .login__facebook {
        background-image: url(../../assets/login__page/FBOnhover.png);
    }
}

.login__btn__facebook:active {
    .login__facebook {
        background-image: url(../../assets/login__page/IconsFB.png);
    }
}
