$backgroud-form-color: #06611a;
$backgroud-form-btn: #00a224;
$hover-color: #cdffd8;
$visited-color: #b4b4b4;
$disable-background: rgb(114, 114, 114);
$disable-color: rgb(32, 28, 28);

.login__form__wrap {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-shrink: 0;
    background: $hover-color;
    justify-content: center;
    form {
        position: relative;
        display: block;
        align-items: center;
        text-align: center;
        width: 28em;
        height: auto;
        padding: 2vw 0 3vw 0;
        flex-shrink: 0;
        border-radius: 40px;
        background: $backgroud-form-color;
        max-height: 99vh;
        span {
            color: $backgroud-form-btn;
            text-align: center;
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
        }
        .login__btn__wrap {
            display: flex;
            width: 70%;
            justify-content: space-between;
            margin: 0 auto;
            button {
                display: flex;
                width: 48%;
                height: 45px;
                padding: 19px 26px 19px 26px;
                justify-content: center;
                align-items: center;
                border-radius: 40px;
                background: $backgroud-form-btn;
                border: 0;
                margin: 12px 0 15px;
                color: $hover-color;
                text-align: center;
                font-family: Montserrat;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
                cursor: pointer;
            }
        }

        .login__btn__wrap button:hover {
            background: $visited-color;
            color: $backgroud-form-color;
        }

        .login__btn__wrap button:active {
            background: $hover-color;
            color: $backgroud-form-btn;
        }

        .login__btn__wrap button:visited {
            background: $backgroud-form-btn;
            color: $backgroud-form-color;
        }

        input:-webkit-autofill,
        input {
            display: flex;
            width: 100%;
            height: 40px;
            padding: 0 5%;
            margin: 0 auto 0;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            border-radius: 40px;
            border: 1px solid $hover-color;
            background-color: $backgroud-form-color;
            color: $hover-color;
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            transition: background-color 5000s ease-in-out 0s;
            &:focus {
                outline: none;
            }
        }
    }
}

.login__btn__google {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 45px;
    margin: 0px auto 15px;
    padding: 0 40px;
    align-items: center;
    gap: 8px;
    border-radius: 40px;
    border: 0;
    background: $backgroud-form-btn;
    color: $hover-color;
    font-family: Montserrat;
    font-size: 15px;
    white-space: nowrap;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    cursor: pointer;
}

.login__submit:hover,
.login__btn__google:hover {
    background: $hover-color;
    color: $backgroud-form-btn;
}

.login__submit:active,
.login__btn__google:active {
    color: $backgroud-form-color;
    background: $backgroud-form-btn;
}

.login__submit:visited,
.login__btn__google:visited {
    color: $backgroud-form-color;
    background: $visited-color;
}

.login__google {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    background: $hover-color;
}

.login__btn__back {
    position: relative;
    left: -40%;
    margin: 0 24px 0;
    border: 0;
    background-image: url(../../assets/login__page/btn-left.png);
    background-size: contain;
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    background-color: inherit;
    cursor: pointer;
}

.login__btn__back:hover {
    background-image: url(../../assets/login__page/left-hover.png);
}

.login__btn__back:active {
    background-image: url(../../assets/login__page/left-active.png);
}

.login__submit {
    display: flex;
    width: 70%;
    height: 45px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 8px;
    border-radius: 40px;
    border: 0;
    background: $backgroud-form-btn;
    color: $hover-color;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    cursor: pointer;
}

.login__sumbmit__disabled {
    display: flex;
    width: 70%;
    height: 45px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 8px;
    border-radius: 40px;
    border: 0;
    background: $disable-background;
    color: $disable-color;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    cursor: pointer;
}

.login__lbl__remember,
.login__forgot__pasword {
    width: max-content;
    height: 25px;
    color: $backgroud-form-btn;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin: 0 0 15px 0;
    border: 0;
    background-color: inherit;
    position: relative;
    left: 14%;
    cursor: pointer;
    label {
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        display: flex;
        width: 315px;
        height: 39px;
        justify-content: left;
        color: $backgroud-form-btn;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }
    #login__forgot__btn {
        background-color: inherit;
        border: 0;
        cursor: pointer;
        display: flex;
        width: max-content;
        height: 39px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        color: $backgroud-form-btn;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }
}

.login__forgot__pasword:hover {
    color: $hover-color;
}

.login__forgot__pasword:active {
    filter: blur(0.6px);
    -webkit-filter: blur(0.6px);
}

.login__lbl__remember {
    font-size: 12px !important;
    width: 315px !important;
    justify-content: left;
    display: flex;
    margin-left: 4px;
    align-items: center;
}

.login__checkbox {
    display: block;
    align-items: center;
    text-align: left;
    width: 70%;
    margin: 12px auto 12px;
    color: $backgroud-form-btn;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    label {
        display: flex;
        color: $backgroud-form-btn;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        align-items: center;
    }
}

.checkbox__checked,
.checkbox {
    background-color: inherit !important;
    width: 26px !important;
    height: 26px !important;
    flex-shrink: 0 !important;
    border-radius: 8px !important;
    border: 2px solid $backgroud-form-btn !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    flex-shrink: 0 !important;
    margin: 0 16px 0 0 !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
    -o-border-radius: 8px !important;
}

.checkbox:hover {
    border: 2px solid $hover-color !important;
}

.checkbox:active {
    background-image: url(../../assets/login__page/check-focus.png);
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: center;
}

.checkbox__checked {
    background-image: url(../../assets/login__page/check-active.png);
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid $hover-color !important;
}

.login__wrap__email,
.login__wrap__password {
    width: 70%;
    margin: 0 auto 15px;
    position: relative;
}

.login__eye__close {
    position: absolute;
    background-image: url(../../assets/login__page/close-eye.png);
    background-size: 20px 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 2em;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border: 0;
    background-color: inherit;
}

.login__eye__open {
    position: absolute;
    background-image: url(../../assets/login__page/open-eye.png);
    background-size: 20px 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 2em;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border: 0;
    background-color: inherit;
}

.login__google {
    background-image: url(../../assets/login__page/IconsGmail.png);
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    display: flex;
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-color: inherit;
    align-items: center;
    justify-content: center;
}

.login__btn__google:hover {
    .login__google {
        background-image: url(../../assets/login__page/GmailHover.png);
    }
}

.login__btn__google:active {
    .login__google {
        background-image: url(../../assets/login__page/IconsGmail.png);
    }
}
