$backgroud-form-color: #06611a;
$backgroud-form-btn: #00a224;
$li-color: #cdffd8;
$placeholder-color: #b4b4b4;
$text-color: #001004;
$border-error-color: red;
$color-white: white;

.AddCardBody__wrap {
  display: flex;
  justify-content: space-between;
  .add__left__side {
    display: block;
    width: 22vw;
    margin-left: 8vh;
    margin-bottom: 8vh;
    margin-top: 45px;
    .add__textarea__description {
      display: flex;
      width: 100%;
      padding: 15px;
      margin: 0 auto 0;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      border-radius: 40px;
      border: 1px solid $backgroud-form-btn;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      outline: none;
      color: $backgroud-form-btn;
    }
    .add__textarea__description__empty {
      display: flex;
      width: 100%;
      padding: 15px;
      margin: 0 auto 0;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      border-radius: 40px;
      border: 1px solid $border-error-color;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      outline: none;
    }
    .add__textarea__description:hover {
      border: 2px solid $li-color;
    }

    .add__textarea__description:focus {
      border: 2px solid $li-color;
    }
  }
}

.add__input__name,
.add__input__category,
.add__input__adress,
.add__input__phone,
.add__input__price {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  margin: 0 auto 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 40px;
  border: 1px solid $backgroud-form-btn;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  outline: none;
  color: $backgroud-form-btn;
}

.add__input__name__empty,
.add__input__category__empty,
.add__input__adress__empty,
.add__input__phone__empty,
.add__input__price__empty {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  margin: 0 auto 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 40px;
  border: 1px solid $border-error-color;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  outline: none;
}

.add__input__name:hover,
.add__input__category:hover,
.add__input__adress:hover,
.add__input__phone:hover,
.add__input__price:hover {
  border: 2px solid $li-color;
}

.add__input__name:focus,
.add__input__category:focus,
.add__input__adress:focus,
.add__input__phone:focus,
.add__input__price:focus {
  border: 2px solid $li-color;
}

label {
  color: $placeholder-color;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.add__left__side > div {
  color: text-color;
  font-family: Montserrat Medium;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  margin: 0 0 24px 0;
  width: max-content;
}

.add__center__side {
  transform: translateX(0);
  position: relative;
  width: max-content;
  display: block;
  margin-top: 120px;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
.add__center__side > ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0;
  margin: 0;
  .add__input__photo {
    display: flex;
    width: 128px;
    height: 128px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: $li-color;
    margin: 0 4px 4px 0;
    button {
      width: 128px;
      height: 128px;
      background-image: url(../../assets/add__card/camera.png);
      background-size: 24px 24px;
      background-position: center;
      background-color: inherit;
      background-repeat: no-repeat;
      border: 0;
      cursor: pointer;
      transition: 0.3s;
    }

    button:hover {
      background: $backgroud-form-btn;
      background-image: url(../../assets/add__card/camera-hover.png);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .add__input__photo__empty {
    display: flex;
    width: 128px;
    height: 128px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: $li-color;
    border: 1px solid $border-error-color;
    margin: 0 4px 4px 0;
    button {
      width: 128px;
      height: 128px;
      background-image: url(../../assets/add__card/camera.png);
      background-size: 24px 24px;
      background-position: center;
      background-color: inherit;
      background-repeat: no-repeat;
      border: 0;
      cursor: pointer;
    }
    button:hover {
      background: $backgroud-form-btn;
      background-image: url(../../assets/add__card/camera-hover.png);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.add__textarea__description__empty::placeholder,
.add__textarea__description::placeholder,
.add__input__name__empty::placeholder,
.add__input__category__empty::placeholder,
.add__input__adress__empty::placeholder,
.add__input__phone__empty::placeholder,
.add__input__price__empty::placeholder,
.add__input__name::placeholder,
.add__input__category::placeholder,
.add__input__adress::placeholder,
.add__input__phone::placeholder,
.add__input__price::placeholder {
  color: $placeholder-color;
}

.add__right__side {
  position: relative;
  display: block;
  width: 22vw;
  margin-right: 8vh;
  margin-top: 120px;
  margin-bottom: 8vh;
  .add__submit__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    width: 40vw;
    position: relative;
    right: 17vw;
    #edit__cancel,
    #edit__delete,
    #edit__archive,
    #add_submit {
      display: flex;
      width: 224px;
      height: 64px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border: 0;
      cursor: pointer;
      border-radius: 40px;
      background: $backgroud-form-btn;
      color: $li-color;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      position: relative;
      bottom: 0px;
      right: 0;
      margin: 12px;
    }

    #edit__cancel {
      background: $li-color;
      color: $backgroud-form-btn;
    }
    #add_submit:active,
    #edit__cancel:active,
    #edit__delete:active,
    #edit__archive:active {
      color: $backgroud-form-color;
    }
    #edit__cancel:hover {
      border: 2px solid $backgroud-form-btn;
    }
    #edit__delete {
      background: $border-error-color;
      color: $text-color;
    }
    #edit__delete:hover {
      border: 2px solid $text-color;
    }
    #edit__archive {
      background: $placeholder-color;
      color: $backgroud-form-color;
    }
    #add_submit:hover,
    #edit__archive:hover {
      border: 2px solid $backgroud-form-color;
    }
    #add_submit_none {
      display: none;
    }
  }
}

.add__img {
  width: 100%;
  height: 128px;
  object-fit: cover;
  object-position: center;
}

.add__address,
.add__address__none,
.add__categorys,
.add__categorys__none {
  position: absolute;
  width: 100vh;
  height: max-content;
  top: -20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.add__address,
.add__categorys {
  z-index: 1;
  opacity: 1;
  transform: translateX(-35px);
  -webkit-transform: translateX();
  -moz-transform: translateX();
  -ms-transform: translateX();
  -o-transform: translateX();
  visibility: visible;
}

.add__address__none,
.add__categorys__none {
  z-index: -1;
  transform: translateX(-35px);
  height: 400px;
}

.add__address.active,
.add__categorys.active {
  opacity: 1;
  visibility: visible;
}

.add__photo {
  position: relative;
  width: 128px;
  height: 128px;
}

.add__trash {
  position: absolute !important;
  width: 24px !important;
  height: 24px !important;
  flex-shrink: 0 !important;
  background-image: url(../../assets/add__card/trash.png) !important;
  background-size: 24px 24px !important;
  border: 0 !important;
  background-color: inherit !important;
  left: 94px !important;
  bottom: 12px !important;
  cursor: pointer !important;
}

.add__select__empty,
.add__select__option,
.add__select {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  margin: 5px auto 0;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  border: 1px solid $backgroud-form-btn;
  color: $placeholder-color;
  background-color: inherit;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  outline: none;
  color: $backgroud-form-btn;
  transition: 1s;
}
.add__select__option {
  color: $text-color;
}

.add__select__empty {
  border: 1px solid $border-error-color;
}
.add__select {
  color: $placeholder-color !important;
}

.add__select__option:hover,
.add__select:hover {
  border: 2px solid $li-color;
}

.add__select__option:active,
.add__select:active {
  border: 2px solid $backgroud-form-color;
}

.add__options__wrap {
  button {
    margin: 0;
  }
}

.add__select__empty,
.add__select__option,
.add__select {
  color: $backgroud-form-btn;
  position: relative;
  div {
    display: flex;
    position: absolute;
    width: 22px;
    height: 10px;
    text-align: center;
    margin-left: 80%;
  }
  img {
    width: 22px;
    height: 10px;
  }
  #add_vector_down {
    width: 22px;
    height: 10px;
    transform: rotate(180deg);
  }
}

.edit__check__wrap {
  display: flex;
  align-items: center;
  margin: 12px 0 12px 0;
  width: 22vw;
  justify-content: center;
  label {
    font-size: 12px !important;
    margin-left: 4px;
    width: 18vw;
  }
}

.edit__checkbox {
  border: 2px solid $backgroud-form-btn;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  background-color: $color-white;
}

.edit__checkbox__active {
  border: 0;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: inherit;
  background-image: url(../../assets/add__card/Checkbox.png);
}
