.MainSlider__wrap {
    position: relative;
    width: 52%;
    height: max-content;
    flex-shrink: 0;
    border-radius: 40px;
    margin: 40px 0 0 18vw;
    img {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
}

#mainSlider__btn__left {
    background-image: url(../../assets/mainSlider/arrow-left.png);
    width: 56px;
    height: 56px;
    background-color: inherit;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 24px;
}

#mainSlider__btn__left:hover {
    background-image: url(../../assets/mainSlider/left-hover.png);
}

#mainSlider__btn__left:active {
    background-image: url(../../assets/mainSlider/left-active.png);
}

#mainSlider__btn__right {
    background-image: url(../../assets/mainSlider/arrow-right.png);
    width: 56px;
    height: 56px;
    background-color: inherit;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
}

#mainSlider__btn__right:hover {
    background-image: url(../../assets/mainSlider/right-hover.png);
}

#mainSlider__btn__right:active {
    background-image: url(../../assets/mainSlider/right-active.png);
}

.main__first__slide,
.main__second__slide,
.main__third__slide {
    position: relative;
}

.mainSlider__divOnSlider {
    display: block;
    position: absolute;
    bottom: 10%;
    left: 11%;
    width: 72vh;
    span {
        color: var(--Light, #cdffd8);
        font-family: Montserrat;
        font-size: 2vw;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
    }
    button {
        display: flex;
        width: 224px;
        height: 64px;
        padding: 19px 26px 19px 27px;
        margin-top: 16px;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        border: 0;
        background: var(--Green-Normal, #00881e);
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: var(--Light, #cdffd8);
        text-align: center;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
    }

    button:hover {
        color: var(--Dark-Green, #00380d);
    }

    button:active {
        color: var(--Light, #cdffd8);
        background: var(--Dark-Green, #00380d);
    }
}
