.view_product_wrap {
  display: flex;
  width: 90%;
  margin: 60px auto;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.view_product_wrap.visible {
  opacity: 1;
}

.view_product_wrap {
  opacity: 0;
  animation: fadeInOut 0.5s ease-in-out forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
