$backgroud-form-btn: #00a224;
$hover-color: #cdffd8;
$backgroud-form-color: #06611a;
$label-color: #b4b4b4;

.ForgotPasswordModal__main {
  background-color: $hover-color;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .ForgotPasswordModal__wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 28em;
    height: 36em;
    padding: 8vh 0 11vh 0;
    border-radius: 40px;
    background: $backgroud-form-color;
    label {
      color: $label-color;
      font-family: Montserrat;
      font-size: 11px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      width: max-content;
    }
    input:-webkit-autofill,
    input {
      display: flex;
      width: 100%;
      height: 40px;
      padding: 0 5%;
      margin: 25px auto;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      border-radius: 40px;
      border: 1px solid $hover-color;
      background-color: $backgroud-form-color;
      color: $hover-color;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      transition: background-color 5000s ease-in-out 0s;
      &:focus {
        outline: none;
      }
    }
    button:last-child {
      display: flex;
      width: 100%;
      height: 45px;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      gap: 8px;
      border-radius: 40px;
      border: 0;
      background: $backgroud-form-btn;
      color: $hover-color;
      text-align: center;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      cursor: pointer;
      outline: none;
    }

    button:last-child:hover {
      background: $hover-color;
      color: $backgroud-form-btn;
    }

    button:last-child:active {
      color: $backgroud-form-color;
      background: $backgroud-form-btn;
    }
  }

  .ForgotPasswordModal__wrap > div {
    width: max-content;
    display: block;
  }

  .forgot__header {
    width: max-content;
    color: $hover-color;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }

  .login__btn__back__forgot {
    position: absolute;
    left: 16px;
    top: 30px;
    margin: 0 24px 0;
    border: 0;
    background-image: url(../../assets/login__page/btn-left.png);
    background-size: contain;
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    background-color: inherit;
    cursor: pointer;
  }

  .login__btn__back__forgot:hover {
    background-image: url(../../assets/login__page/left-hover.png);
  }

  .login__btn__back__forgot:active {
    background-image: url(../../assets/login__page/left-active.png);
  }
}

.ForgotPasswordModal__main {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.ForgotPasswordModal__main.visible {
  opacity: 1;
}

.ForgotPasswordModal__main {
  opacity: 0;
  animation: fadeInOut 0.5s ease-in-out forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
